.app-container {
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
* {
    margin: 0;
    padding: 0;
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* space below navbar */
}
body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
}
.mainCont{
  display: flex; 
  justify-content: space-between;
  margin-top: 0px;
}